<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina</title>
    <link rel="stylesheet" href="C:\Users\deadl\OneDrive\Desktop\SmartPet\SmartPet\usuarios\templates\Estilos\StyleIndex.css">
</head>
<body>
    

    <header class="header">

        <div class=" menu container">
             <a href="#" class="logo">logo</a>
             <input type="checkbox" id="menu">
             <label for="menu">
                <img src="Imagenes/menu.png" class="menu-icono" alt="menu">
             </label>
             <nav class="navbar">
                <ul>
                     <li><a href="#">Inicio</a></li>
                     <li><a href="#">Nosotros</a></li>
                     <li><a href="#">Productos</a></li>
                     <li><a href="#">Contacto</a></li>
                </ul>
             </nav>
             <div>
                <ul>
                    <li class="submenu">
                        <img src="Imagenes/car.svg" id="img-carrito" alt="carrito">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                         <th>Imagen</th>
                                         <th>Nombre</th>
                                         <th>Precio</th>
                                         <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-2">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
             </div>
        </div>

        <div class="header-content container">
             <div class="header-img">
                 <img class="portada" src="Imagenes/peyga.png" alt="">
             </div>
             <div class="header-txt">
                <h1>Ofertas especiales</h1>
                <p>Encuentra los mejores alimentos para tus mascotas</p>
                <a href="#" class="btn-1">Información</a>
             </div>
        </div>

    </header>

    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="Imagenes/f1.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Fit Formula Cachorro 10 KG</h3>
                <a href="#" class="btn-2">informacion</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="Imagenes/f2.png" alt="">
            </div>
            <div class="ofert-txt">
                <h3>Fit Fórmula Gato 10 KG</h3>
                <a href="#" class="btn-2">informacion</a>
            </div>
            </div>
            <div class="ofert-1">
                <div class="ofert-img">
                    <img src="Imagenes/f3.png" alt="">
                </div>
                <div class="ofert-txt">
                    <h3>Fit Formula Adulto Light 20 KG</h3>
                    <a href="#" class="btn-2">informacion</a>
    
                </div>

    </section>

    <main class="products container" id="lista-1">

        <h2>Productos</h2>

        <div class="product-content">

            <div class="product">
                <img src="Imagenes/pe1.jpg" alt="">
                <div class="product-txt">
                    <h3>Bravery</h3>
                    <p>Bravery Salmon Adulto alimento para perro</p>
                    <p class="precio">$66.990</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar al carrito</a>
                    </div>
                </div>

                <div class="product">
                    <img src="Imagenes/pe2.jpg" alt="">
                    <div class="product-txt">
                        <h3>Bravery</h3>
                        <p>Bravery Pork adulto alimento para perro</p>
                        <p class="precio">$66.990</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="2">Agregar al carrito</a>
                        </div>
                    </div>

                    <div class="product">
                        <img src="Imagenes/pe3.jpg" alt="">
                        <div class="product-txt">
                            <h3>Bravery</h3>
                            <p>Bravery Chicken adulto alimento para perro</p>
                            <p class="precio">$66.990</p>
                            <a href="#" class="agregar-carrito btn-2" data-id="3">Agregar al carrito</a>
                            </div>
                        </div>

                        <div class="product">
                            <img src="Imagenes/gat1.jpg" alt="">
                            <div class="product-txt">
                                <h3>Bravery</h3>
                                <p>Bravery Chicken adulto alimento para gatos</p>
                                <p class="precio">$20.990</p>
                                <a href="#" class="agregar-carrito btn-2" data-id="4">Agregar al carrito</a>
                                </div>
                            </div>

                            <div class="product">
                                <img src="Imagenes/gat2.jpg" alt="">
                                <div class="product-txt">
                                    <h3>Bravery</h3>
                                    <p>Bravery Salmon adulto alimento para gatos</p>
                                    <p class="precio">$20.990</p>
                                    <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar al carrito</a>
                                    </div>
                                </div>

                                <div class="product">
                                    <img src="Imagenes/gat3.jpg" alt="">
                                    <div class="product-txt">
                                        <h3>Bravery</h3>
                                        <p>Braver Herring adulto alimento para gatos</p>
                                        <p class="precio">$25.990</p>
                                        <a href="#" class="agregar-carrito btn-2" data-id="6">Agregar al carrito</a>
                                        </div>
                                    </div>

        </div>

    </main>

    <section class="icons container">

        <div class="icon-1">
            <div class="icon-img">
                <img src="Imagenes/i1.svg" alt="">
             </div>
             <div class="icon-txt">
                <h3>Lorem, ipsum dolor sit amet </h3>
                <p>
                    Peo con caca peo
                </p>
             </div>

        </div>

        <div class="icon-1">
            <div class="icon-img">
                <img src="Imagenes/i2.svg" alt="">
             </div>
             <div class="icon-txt">
                <h3>Lorem, ipsum dolor sit amet </h3>
                <p>
                    Peo con caca peo
                </p>
             </div>

            </div>

            <div class="icon-1">
                <div class="icon-img">
                    <img src="Imagenes/i3.svg" alt="">
                 </div>
                 <div class="icon-txt">
                    <h3>Lorem, ipsum dolor sit amet </h3>
                    <p>
                        Peo con caca peo
                    </p>
                 </div>
    
                </div>
            </section>

            <section class="blog container">

                <div class="blog-1">
                    <img src="Imagenes/b1.jpg" alt="">
                    <h3>Blog 1</h3>
                    <p>
                        Lorem ipsum dolor s
                    </p>
                </div>

                <div class="blog-1">
                    <img src="Imagenes/b2.jpg" alt="">
                    <h3>Blog 2</h3>
                    <p>
                        Lorem ipsum dolor s
                    </p>
                </div>

                <div class="blog-1">
                    <img src="Imagenes/b3.jpg" alt="">
                    <h3>Blog 3</h3>
                    <p>
                        Lorem ipsum dolor s
                    </p>
                </div>

            </section>

            <footer class="footer">

                <div clas="footer-content container">
                    <div class="link">
                        <h3>Lorem</h3>
                        <ul>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                        </ul>
                    </div>

                    <div class="link">
                        <h3>Lorem</h3>
                        <ul>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                        </ul>
                    </div>

                    <div class="link">
                        <h3>Lorem</h3>
                        <ul>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                        </ul>
                    </div>

                    <div class="link">
                        <h3>Lorem</h3>
                        <ul>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                            <li><a href="#">lorem</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
   
   
   
   
   
    <script src="scrip.js"></script>
    
</body>
</html>