asgiref==3.9.2
bootstrap4==0.1.0
certifi==2025.10.5
charset-normalizer==3.4.4
colorama==0.4.6
crispy-bootstrap5==2025.6
Django==5.2.6
django-bootstrap5==25.2
django-crispy-forms==2.4
idna==3.11
iniconfig==2.1.0
marshmallow==3.26.1
mercadopago==2.3.0
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
psycopg2-binary==2.9.10
Pygments==2.19.2
pytest==8.4.2
python-dotenv==1.1.1
requests==2.32.5
setuptools==80.9.0
sqlparse==0.5.3
transbank-sdk==6.1.0
tzdata==2025.2
urllib3==2.5.0
